.tag_add_input_form {position:absolute; border:solid 1px #CCCCCC; margin-top:19px; background:#FFFFFF;}
.tag_add_input_form li {
  list-style:none;
  cursor:pointer;
  line-height:20px;
  border-bottom:dotted 1px #CCCCCC;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  color:#999999;
  padding-left:10px;
}
.tag_add_input_form li b {color:#0099CC;}
.tag_add_input_form_sel {background:#C2DCE2; color:#fff;}
